* {
box-sizing: border-box;
}

html {
height: 100vh;  
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;  
  }

  
label, input, button {
    display: block;  
    margin: 0.5rem;
    padding: 0.2rem;
    min-width: 100%;
  }
  [type="submit"] {
    margin-top: 1rem;    
    font-size: 1.1rem;  
  }